#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    behaviors {
        home_pgup: home_pgup {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp HOME>, <&kp PAGE_UP>;

            label = "HOME_PGUP";
        };

        end_pgdown: end_pgdown {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp END>, <&kp PAGE_DOWN>;

            label = "END_PGDOWN";
        };

        prev_vdown: prev_vdown {
            compatible = "zmk,behavior-tap-dance";
            label = "PREV_VDOWN";
            #binding-cells = <0>;
            bindings = <&kp C_PREV>, <&kp C_VOLUME_DOWN>;
        };

        next_vup: next_vup {
            compatible = "zmk,behavior-tap-dance";
            label = "NEXT_VUP";
            #binding-cells = <0>;
            bindings = <&kp C_NEXT>, <&kp C_VOLUME_UP>;
        };

        pause_mute: pause_mute {
            compatible = "zmk,behavior-tap-dance";
            label = "PAUSE_MUTE";
            #binding-cells = <0>;
            bindings = <&kp C_PLAY_PAUSE>, <&kp C_MUTE>;
        };

        searchFiles_clipboard: searchFiles_clipboard {
            compatible = "zmk,behavior-tap-dance";
            label = "SEARCHFILES_CLIPBOARD";
            #binding-cells = <0>;
            bindings = <&kp LS(SPACE)>, <&kp LG(LA(LC(PERIOD)))>;
        };

        searchMenu_IME: searchMenu_IME {
            compatible = "zmk,behavior-tap-dance";
            label = "SEARCHMENU_IME";
            #binding-cells = <0>;
            bindings = <&kp LG(LA(LC(SPACE)))>, <&kp LA(LC(SPACE))>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    macros {
        goldendict: goldendict {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(C) &kp LG(C)>;
            label = "goldendict";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "base";
            bindings = <
&kp LG(SPACE)  &kp Q        &kp W         &kp F           &kp P        &kp B                                           &none         &kp J                            &kp L            &kp U             &kp Y              &kp GRAVE    &searchFiles_clipboard
&kp LA(SPACE)  &mt LCTRL A  &mt LSHIFT R  &mt LEFT_ALT S  &mt LCMD T   &mt LG(LA(LS(LEFT_CONTROL))) G           &none  &none  &none  &mt RG(RA(RS(RIGHT_CONTROL))) M  &mt RCMD N       &mt RALT E        &mt RSHFT I        &mt RCTRL O  &searchMenu_IME
&kp LC(SPACE)  &kp Z        &kp X         &kp C           &kp D        &kp V                           &none           &none         &kp K                            &kp H            &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp FSLH     &goldendict
                                          &lt 6 TAB       &lt 2 SPACE  &lt 4 RETURN                                                  &lt 3 ESCAPE                     &lt 1 BACKSPACE  &lt 5 DELETE
            >;

            // sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        Navigation {
            display-name = "nav";
            bindings = <
&none  &none      &none      &none     &none     &none                                         &none         &none   &kp HOME     &kp UP_ARROW  &kp END          &none  &none
&none  &kp LCTRL  &kp LSHFT  &kp LALT  &kp LCMD  &kp LG(LA(LS(LEFT_CONTROL)))           &none  &none  &none  &none   &kp LEFT     &kp DOWN      &kp RIGHT_ARROW  &none  &none
&none  &none      &none      &none     &none     &none                         &none           &none         &none   &kp PAGE_UP  &none         &kp PAGE_DOWN    &none  &none
                             &trans    &trans    &trans                                                      &trans  &trans       &trans
            >;
        };

        Number {
            bindings = <
&none  &kp LG(LS(V))  &kp LG(V)  &kp LG(LA(LS(C)))  &kp LG(LS(C))  &kp LG(C)                  &none         &kp PLUS   &kp N7  &kp N8  &kp N9  &kp ASTRK   &kp KP_NUMLOCK
&none  &trans         &trans     &trans             &trans         &trans              &none  &none  &none  &kp N0     &kp N4  &kp N5  &kp N6  &kp PERIOD  &none
&none  &trans         &kp LG(S)  &kp LG(LS(Z))      &kp LG(Z)      &kp LG(X)  &none           &none         &kp MINUS  &kp N1  &kp N2  &kp N3  &kp SLASH   &none
                                 &trans             &trans         &trans                                   &trans     &trans  &trans
            >;

            label = "num";
        };

        SymbolL {
            label = "symL";
            bindings = <
&none  &none      &kp PERCENT  &kp ASTERISK   &kp PIPE        &kp BACKSLASH                    &none         &none                          &none     &none     &none       &none              &none
&none  &kp CARET  &kp DOLLAR   &kp AT_SIGN    &kp HASH        &kp QUESTION              &none  &none  &none  &kp RG(RA(RS(RIGHT_CONTROL)))  &kp RCMD  &kp RALT  &kp RSHIFT  &kp RIGHT_CONTROL  &none
&none  &none      &kp TILDE    &kp AMPERSAND  &kp UNDERSCORE  &kp EXCLAMATION  &none           &none         &none                          &none     &none     &none       &none              &none
                               &trans         &trans          &trans                                         &trans                         &trans    &trans
            >;
        };

        SymbolR {
            bindings = <
&none  &none      &none       &none     &none     &none                                         &none         &kp PLUS   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp COLON       &kp SEMICOLON      &none
&none  &kp LCTRL  &kp LSHIFT  &kp LALT  &kp LCMD  &kp LG(LA(LS(LEFT_CONTROL)))           &none  &none  &none  &kp MINUS  &kp LESS_THAN         &kp GREATER_THAN       &kp COMMA       &kp PERIOD         &none
&none  &none      &none       &none     &none     &none                         &none           &none         &kp EQUAL  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp APOSTROPHE  &kp DOUBLE_QUOTES  &none
                              &trans    &trans    &trans                                                      &trans     &trans                &trans
            >;

            label = "symR";
        };

        ControlL {
            bindings = <
&rgb_ug RGB_TOG  &rgb_ug RGB_HUD  &rgb_ug RGB_HUI  &kp C_NEXT        &kp C_VOLUME_UP    &kp C_BRIGHTNESS_INC                  &none         &none   &none   &none   &none  &none  &none
&bt BT_CLR_ALL   &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &kp C_PLAY_PAUSE  &kp C_MUTE         &kp LC(LG(Q))                  &none  &none  &none  &none   &none   &none   &none  &none  &none
&bootloader      &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &kp C_PREV        &kp C_VOLUME_DOWN  &kp C_BRIGHTNESS_DEC  &none           &none         &none   &none   &none   &none  &none  &none
                                                   &trans            &trans             &trans                                              &trans  &trans  &trans
            >;

            label = "controlL";
        };

        ControlR {
            bindings = <
&none  &none  &none  &none   &none   &none                   &none         &kp LC(LS(NUMBER_1))  &kp LC(LS(NUMBER_4))  &kp LA(LS(LC(LEFT_ARROW)))  &kp LA(LS(LC(RIGHT_ARROW)))  &none        &none
&none  &none  &none  &none   &none   &none            &none  &none  &none  &kp LC(LS(NUMBER_2))  &kp LC(LS(NUMBER_5))  &kp LA(LS(LC(M)))           &kp LA(LS(LC(C)))            &kp LG(TAB)  &none
&none  &none  &none  &none   &none   &none   &none           &none         &kp LC(LS(NUMBER_3))  &kp LC(LS(NUMBER_6))  &kp LA(LS(LC(F)))           &kp LG(Q)                    &none        &bootloader
                     &trans  &trans  &trans                                &trans                &trans                &trans
            >;

            label = "controlR";
        };
    };
};
